/* Global styles */
:root {
    --main-bg: hsl(185, 75%, 39%);
    --primary-text: hsl(229, 23%, 23%);
    --dk-gray-blue: hsl(227, 10%, 46%);
    --dk-gray: hsl(0, 0%, 59%);
    --white: white;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

body {
    font-size: 15px;
    font-family: 'Kumbh Sans';
    background: var(--main-bg);
}

h3 {
    color: var(--primary-text);
}


p {
    font-size: 14px;
    color: var(--dk-gray-blue);
}

hr {
    border: .5px solid  hsl(0, 0%, 86%);;
    width: 100%;
}

/* Component styles */
.top {
    width: 120vw;
    position: fixed;
    top: -10%;
    left: -50%;
    z-index: -1;
}

.bottom {
    width: 120vw;
    position: fixed;
    bottom: 0%;
    right: -50%;
    z-index: -1;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
}
.card {
    display: flex;
    flex-direction: column;
    width: 327px;
    border-radius: 16px;
    background: var(--white) url("./images/bg-pattern-card.svg") no-repeat center top;
    box-shadow: 0px 8px 32px rgba(1, 56, 62, 0.25);
    z-index: 5;
}

.profile {
    border: 5px solid var(--white);
    border-radius: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.25rem;
    padding: 5.5rem 0 1rem 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.name-age {
    display: flex;
    gap: .5rem;
}

.age {
    font-weight: 400;
    color: var(--dk-gray-blue);
}


.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.sm-title {
    font-size: 10px;
    letter-spacing: 2px;
    color: var(--dk-gray-blue);
}

@media screen and (min-width: 430px){
    .top {
        width: fit-content;
        position: fixed;
        top: -50%;
        left: -16%;
        z-index: -1;
    }
    
    .bottom {
        width: fit-content;
        position: fixed;
        bottom: -60%;
        right: -10%;
        z-index: -1;
    }
}
